@using Microsoft.AspNetCore.Mvc.Localization
@inject IViewLocalizer Localizer

@{
    ViewData["Title"] = Localizer["Home Page"];
    var welcome = Localizer["Welcome, {0}!", "Putra"];
    var learnAbout = Localizer["Learn about "];
    var buildingWeb = Localizer["building Web apps with ASP.NET Core"];
}

<div class="text-center">
    <h1 class="display-4">@welcome</h1>
    <p>@learnAbout<a href="https://learn.microsoft.com/aspnet/core">@buildingWeb</a>.</p>
</div>
